[submodule "NoiseTool/ThirdParty/corrade"]
	path = NoiseTool/ThirdParty/corrade
	url = https://github.com/mosra/corrade.git
[submodule "NoiseTool/ThirdParty/magnum"]
	path = NoiseTool/ThirdParty/magnum
	url = https://github.com/mosra/magnum.git
[submodule "NoiseTool/ThirdParty/imgui"]
	path = NoiseTool/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "NoiseTool/ThirdParty/magnum-integration"]
	path = NoiseTool/ThirdParty/magnum-integration
	url = https://github.com/mosra/magnum-integration.git
[submodule "tests/ThirdParty/benchmark"]
	path = tests/ThirdParty/benchmark
	url = https://github.com/google/benchmark.git
[submodule "NoiseTool/ThirdParty/imnodes"]
	path = NoiseTool/ThirdParty/imnodes
	url = https://github.com/Auburn/imnodes.git
